<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style type="text/css">

body {
  background-image:URL("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWgaH_3BIGepIZC1srl_GlNCXNxk2qwOAABw&usqp=CAU");
  background-size:cover;
}

</style>

<title>Search</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css"/>
</head>
<body>
    <div class="center-elements">
      <div th:unless="${message.empty}">
        <br>
        <br>
        <br>
        <br>
        <h3 th:text="${message}"></h3>
      </div>
      <div th:if="${message.empty}">
        <!-- Book result -->
          <div class = "center-elements" th:unless="${book == null}">
            <h1 class="headers"><strong>Results</strong></h1>
            <br>
            <div class="center-elements">
              <table class="table" id="Result Table">
                <thead>
                  <tr>
                    <th colspan="2" scope="col">Title</th>
                    <th colspan="2" scope="col">Author</th>
                    <th colspan="2" scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
          		    <td colspan="2" th:text="${book.title}"></td>
          			<td colspan="2" th:text="${book.author}"></td>
          			<td colspan="2" th:text="${book.price}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <div class="center-elements">
      <br>
      <a th:href="@{/}">Home</a>
    </div>
</body>
</html>